.usersTable{
  flex: 4;
  display: flex !important;
  padding: 20px;
  gap: 20px;
  position: relative;
}
.createBtn{
position: absolute;
top: 0;
right: 10px;
}

.userLists{
margin-top: 20px;
width: 100%;
}

.userListUser{
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListDelete{
  color: red;
  cursor: pointer;
}